{% extends '::base.html.twig' %}
{%block body%}
Panier !
    <table class="table table-hover">
        {{ render_esi(controller('DreamStoreCustomerBundle:Block:cart')) }}
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.product.name }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.price }}</td>
                <td>{{ cart.date.date }}</td>
                <td><a href={{ path("dream_store_customer_cart_delete", {'id' : cart.product.id}) }}>Supprimer</a></td>
            </tr>
        {% endfor %}
        <tbody>
    </table>

    {% if carts|length > 0 %}
        Prix total : {{ finalPrice|number_format(2, ',', ' ') }} €<br>
        <a href="{{path('dream_store_customer_payment_cart')}}" class="btn btn-info">Payer maintenant !</a>
    {% endif %}
{%endblock%}
