{% extends '::base.html.twig' %}
{%block body%}
<table class="table table-hover">
    {{ render_esi(controller('DreamStoreCustomerBundle:Block:historical')) }}
    <tbody>
    {% for historical in historicals %}
        <tr>
            <td>{{ historical.product.name }}</td>
            <td>{{ historical.quantity }}</td>
            <td>{{ historical.price }}</td>
            <td>{{ historical.date.date }}</td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{%endblock%}
