{% extends '::base.html.twig' %}
{%block body%}
{% for product in products %}
	<a href="{{ path('dream_store_customer_show', {'id' : product.id}) }}">
		<div class="product">
		    <span class="product-name">{{ product.name }}</span><br>
		    <span class="product-image"><img style="width: 150px; height: 150px;" src="{{ asset("DS/" ~ product.imageName) }}" alt="{{ product.imageName }}"></span><br>
		    <span class="product-description">Description : {{ product.description }}</span><br>
		    <span class="product-price">Prix : {{ product.price }}</span><br>
		    <span class="product-stock">Stock : {{ product.stock }}</span>
	    </div>
    </a>
{% endfor %}
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Produit</strong></td>
        <td><strong>quantitée</strong></td>
        <td><strong>prix</strong></td>
        <td><strong>date</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for historical in historicals %}
        <tr>
            <td>{{ historical.product.name }}</td>
            <td>{{ historical.quantity }}</td>
            <td>{{ historical.price }}</td>
            <td>{{ historical.date.date }}</td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{%endblock%}
