{% extends '::base.html.twig' %}
{% block body %}
<div class="product-show">
    <span class="product-name">{{ product.name }}</span><br>
    <span class="product-image"><img style="width: 150px; height: 150px;" src="{{ asset("DS/" ~ product.imageName) }}" alt="{{ product.imageName }}"></span><br>
    <span class="product-description">Description : {{ product.description }}</span><br>
    <span class="product-price">Prix : {{ product.price }}</span><br>
    <span class="product-stock">Stock : {{ product.stock }}</span>
</div>
{%if error is defined%}
<div class="alert alert-danger">{{error}}</div>
{%endif%}
<form action="{{ path(route, {'id' : id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="form-product">
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
    <br>
    <input class="btn btn-info" type="submit" value="Envoyer"/>
</form>

{% endblock %}
