{% extends '::base.html.twig' %}
{%block body%}
Produits !
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Image</strong></td>
        <td><strong>Nom</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>prix</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td><img style="width: 150px; height: 150px;" src="{{ asset("DS/" ~ product.imageName) }}" alt="{{ product.imageName }}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href={{ path('dream_store_seller_add_stock', {'id' : product.id}) }}>Gestion de stock</a><br>
                    <a href={{ path('dream_store_seller_edit_price', {'id' : product.id}) }}>Modifier le prix</a>
                </td>
            </tr>
        {% endfor %}
    <tbody>
</table>
Historique !
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Utilisateur</strong></td>
        <td><strong>Produit</strong></td>
        <td><strong>quantitée</strong></td>
        <td><strong>prix</strong></td>
        <td><strong>date</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for historical in historicals %}
        <tr>
            {{ dump(historical) }}
            <td>{{ historical.user }}</td>
            <td>{{ historical.product.name }}</td>
            <td>{{ historical.quantity }}</td>
            <td>{{ historical.price }}</td>
            <td>{{ historical.date.date }}</td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{% endblock %}
