Hello !
<table>
    <thead>
    <tr>
        <td><strong>Image</strong></td>
        <td><strong>Nom</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>prix</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td><img style="width: 150px; height: 150px;" src="{{ asset("DS/" ~ product.imageName) }}" alt="{{ product.imageName }}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td><a href={{ path('dream_store_seller_add_stock', {'id' : product.id}) }}>Gestion de stock</a></td>
            </tr>
        {% endfor %}
    <tbody>
</table>
